@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark: hsl(229, 23%, 23%);
    --dark-gray: hsl(227, 10%, 46%);
    --white: rgb(255, 255, 255)
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url('../images/bg-pattern-top.svg'),
        url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 48vw bottom 48vh,
        left 48vw top 48vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 326px;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.6);

    &-header {
        width: 100%;
        display: block;
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: .5px solid rgb(212, 212, 212);

        &__img {
            border: 5px solid #fff;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
            background-color: var(--white);
        }

        &__title {
            font-size: 1.8rem;
            margin-top: 1.5rem;
            color: var(--very-dark);

            span {
                color: var(--dark-gray);
                font-weight: 400;
            }
        }

        &__text {
            color: var(--dark-gray);
            font-size: 1.7rem;
            margin-top: 0;
        }
    }

    .card-footer {
        display: flex;
        justify-content: space-around;

        &__social {
            text-align: center;

            h3 {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                font-size: 2rem;
                color: var(--very-dark);
            }

            p {
                margin-top: 0;
                margin-bottom: 2rem;
                letter-spacing: 1px;
                color: var(--dark-gray);
                font-weight: 700;
                font-size: 1.2rem;
            }
        }

    }
}